In [32]:
import numpy as np
import csv
import pandas as pd
import os
import re
import string as st

In [111]:
# Function to remove @names and special character
def punc_clean(text):
    
    text= ' '.join(re.sub("(@[A-Za-z0-9_]+)|([^0-9A-Za-z \t]) |(\w+:\/\/\S+)" , " ", text).split())
    
    return text

def preprocess(path):
    path = os.path.join(path)
    data = pd.read_csv(path)
    
    data['text'] = data['text'].apply(punc_clean)
    data['creation_date_time'] = data['creation_date_time'].apply(lambda x: x[:10])
    data["location"].fillna("No Location", inplace = True)
    
    return data

In [104]:
pfizer_data = preprocess("latest_data/Pfizer.csv")
pfizer_data

,tweet_id,user_id,username,text,like_count,retweet_count,location,creation_date_time
0,1502972060200574980,1241174508293312513,AngelaC11111101,The start was given Wait..,0,0,No Location,2022-03-13
1,1502972032375754757,54516759,gladeolie,"Did #Pfizer #Vaccine #Documents Reveal 1,291 S...",0,0,cyberspace,2022-03-13
2,1502972013647994880,156451829,ctramseur,Maybe it wasn't the same vaccine Yes I'm vacci...,0,0,No Location,2022-03-13
3,1502972010892255235,1009545566290837504,SystemLordMoot,Got the triple Pfizer here and my son (who is ...,0,0,"England, United Kingdom",2022-03-13
4,1502971982673027075,1144167004892467200,DMB12445,Pfizer Buried Their Data in the Authorization ...,0,0,No Location,2022-03-13
...,...,...,...,...,...,...,...,...
4339,1502792330348216325,1431762585519595520,WaitingForPerot,"Ok Fine Doesnâ€™t matter My point is that the 1,...",0,0,No Location,2022-03-12
4340,1502792313021423616,3267880214,govtflu,Thanks Pfizer ðŸ˜‚,4,0,Earth,2022-03-12
4341,1502792277277790212,1456321142453673984,Tshepp_90,"Watch ""The Pfizer documents on YouTube",1,0,No Location,2022-03-12
4342,1502792251721846786,1233974172696686593,Latifa2390,President Donald J Trump interview OAN,0,0,No Location,2022-03-12
4343,1502792197443313668,1356015027862401024,SenseReceptor,In a new viral video retired nurse Dr John Cam...,1,0,No Location,2022-03-12

In [95]:
# Convert it to CSV
pfizer_data.to_csv("pfizer.csv", encoding='utf-8', index=False)

In [112]:
covaxin_data = preprocess("latest_data/Covaxin.csv")
covaxin_data

,tweet_id,user_id,username,text,like_count,retweet_count,location,creation_date_time
0,1502900173445296136,489184831,chovue,sigh. youre the one in the dark If you truly d...,0,0,No Location,2022-03-13
1,1502899182910119937,1389478820676210688,india_vac,BANGALORE 44 slots found for age 18+! Mar 13 2...,0,0,No Location,2022-03-13
2,1502897767315767298,1396115471703805953,CovidvaxDEL,North delhi has at least 2721 new slots availa...,0,0,"New Delhi, India",2022-03-13
3,1502897042334519301,489184831,chovue,jnj is based on adenovirus tech Covaxin is bas...,0,0,No Location,2022-03-13
4,1502896817314607107,3259025400,CaptainXemo,I don't care about covaxin. No do your own wor...,0,0,No Location,2022-03-13
...,...,...,...,...,...,...,...,...
2307,1500404994268303361,1244878602094530560,Rajnees59765724,when covaxin will be accepted in Germany,0,0,No Location,2022-03-06
2308,1500403416719593472,1406895607680102404,vaxblr,18-44 #BBMP #Bengaluru #CovidVaccine Availabil...,1,0,"Bengaluru, India",2022-03-06
2309,1500401792856768512,1389478820676210688,india_vac,BANGALORE 87 slots found for age 18+! Mar 06 2...,0,0,No Location,2022-03-06
2310,1500396670374219779,4806490885,abyisnow,Kindly arrange for Covaxin precautionary dose ...,0,0,No Location,2022-03-06
2311,1500395799418589186,868380317039591425,Mayank_P_Grover,Saturday 5/3/22 #CoWIN_Dashboard &amp figures ...,0,0,Deccans of India,2022-03-06

In [113]:
# Convert it to CSV
covaxin_data.to_csv("Covaxin.csv", encoding='utf-8', index=False)

In [121]:
moderna_data = preprocess("latest_data/Moderna.csv")
moderna_data

,tweet_id,user_id,username,text,like_count,retweet_count,location,creation_date_time
0,1502933227991822338,954212951497564160,TimmyTate66,Double vaxxed w Pfizer and boosted Moderna No ...,0,0,"Tennessee, USA",2022-03-13
1,1502933156655435777,1320331014124695552,TheosTina,Moderna tried for 10 years to make mRNA techno...,0,0,No Location,2022-03-13
2,1502933102498181122,1466683352505749507,thetruthb3t0ld,Moderna and NIH were on to it first but Pfizer...,0,0,No Location,2022-03-13
3,1502932998215417856,26347653,AutomaticEarth,Debt Rattle March 13 2022 #ColdWar #FiatCurren...,0,0,Atlantic Ocean,2022-03-13
4,1502932679066624001,933450200361947136,MoveOverThere,That may not be the biggest scandal.. Pfizer a...,0,0,UK,2022-03-13
...,...,...,...,...,...,...,...,...
2186,1502419212844744707,24195285,reinoe,Pfizer delists from SEC stock exchange in comp...,1,0,"Austin, TX",2022-03-11
2187,1502419180129337349,1463342010463494152,StockPlungeBot,Moderna Inc (MRNA plunges -9.37 between 2022-0...,0,0,No Location,2022-03-11
2188,1502419129361264640,1439398920732307456,LeighDrummond,What actual evidence of efficacy did Pfizer Mo...,0,0,No Location,2022-03-11
2189,1502419018581479428,1102671699424825344,rubic3n,And so we come full circle WEF digital ID Soci...,2,4,Moon,2022-03-11
2190,1502418485489463297,184153867,Hey_Hey_Joe,Moderna says data from Phase 2 study of mRNA f...,1,0,California,2022-03-11

In [122]:
# Convert it to CSV
moderna_data.to_csv("Moderna.csv", encoding='utf-8', index=False)

In [116]:
sinovac_data = preprocess("latest_data/Sinovac.csv")
sinovac_data

,tweet_id,user_id,username,text,like_count,retweet_count,location,creation_date_time
0,1502959853635239940,84204994,mackattackone,Then why is there an overwhelming sinovac upta...,0,0,No Location,2022-03-13
1,1502958946377740288,697443656706453504,RockTrolla,Only 50 sinovac Is it Right?,0,0,Ubicuo,2022-03-13
2,1502954945712033792,1231486724087222272,Transit_Jam,The nursing homes provided Sinovac but delayed...,0,0,Hong Kong,2022-03-13
3,1502953689643986944,742763463597031424,AFranzsen,China attempted zero covid policy which succee...,0,0,No Location,2022-03-13
4,1502951039183556609,969429491855618048,KCMO_Neal,Could this just be due to the waning protectio...,2,0,"Kansas City, MO",2022-03-13
...,...,...,...,...,...,...,...,...
906,1500446344443400193,1377836392902889472,foxosk1,Should add I had 3 BioNTech shots myself but n...,1,1,No Location,2022-03-06
907,1500440744233877504,1377836392902889472,foxosk1,1 HK health care system has been under funded ...,1,1,No Location,2022-03-06
908,1500439703786606597,462111175,Tonko35,Telegram mRNA Death Tall ðŸ’‰ In China a 14-year-...,0,0,"Zagreb, Croatia",2022-03-06
909,1500438679029833729,975566592720306177,pharmaniaga_bhd,After the CoronaVac vaccine was granted condit...,1,1,"Selangor, Malaysia",2022-03-06
910,1500438515515277314,2238916212,WORLDOFBUZZ,Sinovac Vaccine Will Be Available For Kids Sta...,0,0,Malaysia,2022-03-06

In [117]:
# Convert it to CSV
sinovac_data.to_csv("Sinovac.csv", encoding='utf-8', index=False)

In [118]:
sputnik_data = preprocess("latest_data/Sputnik.csv")
sputnik_data

,tweet_id,user_id,username,text,like_count,retweet_count,location,creation_date_time
0,1502885637086609411,1455052349228023814,AndrewTRei1,I will correctly remind people yet again that ...,2,1,No Location,2022-03-13
1,1502873976716107776,1498608701653102594,hamzaouihazim0,Local businessman first to take Sputnik V jab,0,0,No Location,2022-03-13
2,1502854289064173580,269110574,PolStuff,Could it be that Putin has gone insane from ta...,0,0,No Location,2022-03-13
3,1502846122129334276,1199410182230548480,cealaigi,Anyway sanctions have already hit pharma with ...,2,1,No Location,2022-03-13
4,1502845215161602050,1502842093592580103,chicken_mcnug_,Tucker admits to being Russian sleeper cell af...,1,1,No Location,2022-03-13
...,...,...,...,...,...,...,...,...
451,1500375433665257476,961331673152487426,Anymous84861064,"Pfizer had 45,000 volunteers across 3 continen...",0,0,In orbit around G2 V Star.,2022-03-06
452,1500374067903275008,60444865,KittyOwner_Club,Indian Government Recommends Permission for Ph...,0,0,Thailand,2022-03-06
453,1500373492952612864,1334654385863811072,MasaruTogo,Indian Government Recommends Permission for Ph...,0,0,Tokyo,2022-03-06
454,1500372873948499978,34262462,SputnikInt,Indian Government Recommends Permission for Ph...,38,9,No Location,2022-03-06
455,1500367094235340801,878273096079335425,mariajt_,dear sputnik??? feeling recognized with my spu...,0,0,No Location,2022-03-06

In [120]:
# Convert it to CSV
sputnik_data.to_csv("Sputnik.csv", encoding='utf-8', index=False)